body {
    width: 1800px;
    background: #ccc;
}

input {
    margin-right: 0px;
    margin-top: 5px;
    padding: 4px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

textarea {
    margin-top: 5px;
    width: 300px;
    height: 65px;
}

.entry-left {
    width: 50%;
    float:left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.entry-right {
    width: 50%;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spacer {
    height: 30px;
}

.required {
    color: red;
}

.label-left {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 3px;
    width: 200px;
    text-align: right;
    display: inline-block;
}

.label-reg {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 3px;
}

.select-multi {
    width: 400px;
    margin-top: 5px;    
    margin-bottom: 5px;
}

.textarea {
    display: flex;
    align-items: center;
}

.input_3d {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    border: 2px solid #e1d1d1; /* Here */
}

.div-1 {
    width:150px;
    height:300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
   }
  
  .div-2 {
    box-shadow: 0 0 5px #aaa inset;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 10px;
  }  
  
.tabContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1800px;
    margin: 10px auto;
    padding: 5px;
}

.tabContainer input[type="radio"] {
    display: none;
}

.tabContainer .tabLabel {
    padding: 10px;
    background: #e2e2e2;
    font-weight: bold;
    width: 200px;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.tabContainer .tabLabelSmall {
    padding: 2px;
    background: #e2e2e2;
    font-weight: bold;
    width: 150px;
    height: 25px;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.tabContainer .tabContent {
    width: 1800px;
    height: 880px;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.tabContainer .tabContent h2 {
    font-size: 3em;
}

.tabContainer input[type='radio']:checked + .tabLabel + .tabContent {
    display: block;
}

.tabContainer input[type="radio"]:checked + .tabLabel {
    background: #fff;
    caret-color: transparent;
}

.tabContainer input[type='radio']:checked + .tabLabelSmall + .tabContent {
    display: block;
}

.tabContainer input[type="radio"]:checked + .tabLabelSmall {
    background: #ccc;
    caret-color: transparent;
}
